.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 33.33%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}

.leftNavArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .nav-item {
        cursor: pointer;
        transition: color 0.3s;
        border-radius: 8px;
        padding: min(1vw, 15px);
    }

    .nav-item:hover {
        color: #28a745;
        background-color: azure;
    }

    .nav-item,
    img {
        border-radius: 8px;
        margin: min(1vw, 15px);
    }
}

.brandLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    img {
        height: 3vw;
        width: min-content;
    }
}

.rightNavArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .icon-button {
        padding: min(1vw, 15px);
        /* Changed to vw for responsiveness */
        margin: min(1vw, 15px);
        /* Changed to vw for responsiveness */
        background-color: transparent;
        border: none;
    }

    .icon-button:hover {
        color: #28a745;
        /* Change the color on hover as desired */
    }
}