.featuringProducts {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 1rem;
}

.title-wrapper {
  width: 100%;
  font-size: 2rem;
  border-bottom: 2px solid #ddd;
}

@media (max-width: 1080px) {
  .featuringProducts {
    width: 90%;
  }
}
