.header {
  height: 95vh;
  flex-direction: column;
  user-select: none;
}

@media (max-width: 1080px) {
  .in-sidebar {
    display: none;
  }

  .header {
    height: 50vh;
  }

  .background-image {
    height: 50vh;
  }

  .welcome-flex h1 {
    font-size: 1.2rem;
  }

  .welcome-flex h2 {
    font-size: 0.8rem;
  }

  .brand h2 {
    font-size: 1.2rem;
  }
}
