.header {
    height: 95vh;
    flex-direction: column;
    user-select: none;
}

.nav-flex {
    display: flex;
    height: 15%;
    align-items: center;
}

.nav-flex .brand {
    display: flex;
    width: 30%;
    align-items: center;
    padding-left: 20px;
}

.brand h2 {
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5rem;
}

.nav-flex .nav {
    width: 70%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.nav .nav-item {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.nav .nav-item:hover {
    color: darkolivegreen;
    background-color: cornsilk;
    border-radius: 10px;
    text-shadow: none;
}

.welcome-flex {
    display: flex;
    flex-direction: column;
    height: 85%;
}

.welcome-flex .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-flex .button-wrapper .button {
    font-size: 1.2rem;
    background-color: seagreen;
    padding: 15px;
    border: solid 1px black;
}

.welcome-flex .button:hover {
    color: seagreen;
    background-color: whitesmoke;
}

.welcome-flex h1,
.welcome-flex h2 {
    text-shadow: 2px 2px 4px #000000;
}

.welcome-flex h1 {
    font-size: 4rem;
}

.welcome-flex h2 {
    font-size: 1.5rem;
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 5vh;
    left: 0;
    background-image: url('../static/background.jpg');
    background-size: cover;
    z-index: -1;
    filter: brightness(0.5);
}

.white-text {
    color: white;
}