.background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5vh;
  left: 0;
  background-image: url("../static/background.jpg");
  background-size: cover;
  z-index: -1;
  filter: brightness(0.5);
}
