.header {
  position: sticky;
  top: 0;
  height: 95vh;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.background-image {
  background-image: url("../static/background.jpg");
  background-size: cover;
}

@media (max-width: 1080px) {
  .header {
    height: 50vh;
  }

  .background-image {
    height: 50vh;
  }
}
