.productCard {
  width: 30%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.15s ease-in-out;
}

.img-wrapper {
  height: 60%;
}

.prod-name-wrapper {
  height: 16%;
  padding-bottom: 1rem;
}

.types-wrapper {
  height: 24%;
  padding-bottom: 1rem;
}

.img-wrapper,
.prod-name-wrapper,
.types-wrapper {
  justify-content: center;
  align-items: center;
}

.types-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.types-wrapper ul li {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

@media (max-width: 1080px) {
  .productCard {
    width: 40%;
    height: calc(40vh - 1rem);
  }
}

.productCard img {
  width: 100%;
  height: 100%;
  border-bottom: 2px dashed #ddd;
}

.productCard:hover {
  transform: scale(1.05);
}

.productCard h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.productCard p {
  font-size: 1rem;
}
