.welcome-flex {
  display: flex;
  flex-direction: column;
  height: 85%;
}

.welcome-flex .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-flex .button {
  font-size: 1.2rem;
  color: seagreen;
  background-color: whitesmoke;
  padding: 0.5rem;
}

.welcome-flex .button:hover {
  color: whitesmoke;
  background-color: seagreen;
}

.welcome-flex h1 {
  font-size: 4rem;
}

.welcome-flex h2 {
  font-size: 1.5rem;
}