* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


.navbar {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative; /* Add relative positioning */
    transition: background-color 0.3s, color 0.3s;
    padding: 0.3rem;
}

/* Add a transparent border around the text */
nav ul li a {
    text-decoration: none;
    color: #000000;
    border: 2px solid transparent; /* Transparent border */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
}

/* Change the border color on hover */
nav ul li:hover a {
    border-radius: 8px;
    color: #ffffff;
    background-color: #000000;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
}

.row .col-2 {
    flex-basis: 50%;
    min-width: 200px;
}

.row .col-2 img {
    max-width: 100%;
}

.row .col-2 h1 {
    font-size: 3rem;
    line-height: 4rem;
}

.row .col-2 .see-more {
    display: inline-block;
    background-color:darkgreen;
    border-radius: 8px;
    color: #ffffff;
    padding: 0.5rem 3rem;
    text-decoration: none;
    margin: 2.5rem 0.5rem;
}

.row .col-2 .see-more:hover {
    background-color: #000000;
}

.container {
    max-width: 1366px;
    margin: auto;
    padding: 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .row {
 padding-top: 10rem;
}

.categories {
    margin: 5rem 0;
}

.categories .col-3 {
    flex-basis: 30%;
    min-width: 10rem;
    margin-bottom: 2rem;
    text-align: center;
}

.categories .col-3 img {
    width: 100%;
}

/* Age Verification */
.overlay, .modal#age-verification {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.modal#age-verification {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal#age-verification .modal-content {
    text-align: center;
    padding: 2rem;
    font-size: 24px;
}

.modal-content button {
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

/* Add space between h2 and p, and p and buttons */
.modal-content h2, .modal-content p {
    margin-bottom: 1rem;
}
/* End Age Verification */
